services:
  postgres:
    image: postgres:17       
    container_name: postgresql
    restart: always
    environment:
      POSTGRES_USER: root        
      POSTGRES_PASSWORD: root    
      POSTGRES_DB: visualflow    
    ports:
      - "5432:5432"              
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
